{% extends 'base_admin.html.twig' %}

{% block title %}New Period{% endblock %}

{% block body %}
	<h1>Create new Period</h1>

	{{ include('admin_period/_form.html.twig') }}

	<a href="{{ path('app_admin_period_index') }}">back to list</a>
{% endblock %}
