{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle période{% endblock %}

{% block body %}
	<h1>Nouvelle période</h1>

	<div class="col-50">
		<div class="btns-container">
			<div class="btns">
				<a class="btn" href="{{ path('app_admin_period_index') }}">
					<i class="fa-solid fa-arrow-left"></i>
					<span>Retour à la liste des périodes</span>
				</a>
			</div>
		</div>

		{{ include('admin_period/_form.html.twig') }}
	</div>
{% endblock %}
