{% extends 'base.html.twig' %}

{% block title %}New Steam Game{% endblock %}

{% block javascripts %}
	<script type="module" src="/assets/js/steam_new.js"></script>
{% endblock %}

{% block body %}
	<h1>Create new Steam Game</h1>

	{% for message in app.flashes('error') %}
		<div class="error">
			{{ message }}
		</div>
	{% endfor %}

	{{ include('game/_form.html.twig') }}

	<a href="{{ path('app_game_index') }}">back to list</a>
{% endblock %}
