{% extends 'base.html.twig' %}

{% block title %}Votre compte n'a pas encore été approuvé{% endblock %}

{% block body %}
	<section class="new-user">
		<h1>Compte en attente de validation</h1>
		<p>Votre compte n'a pas encore été validé par un de nos administrateurs.</p>
		<p>En attendant n'hésitez pas à venir nous voir sur
			<a href="https://discord.gg/AmjAR3ZNus" target="_blank">Discord</a>.</p>
	</section>
{% endblock %}
