{% extends 'base_admin.html.twig' %}

{% block title %}Editer l'utilisateur{% endblock %}

{% block body %}
	<h1>Editer l'utilisateur</h1>

	<ul class="errors">
		{% for message in app.flashes('error') %}
			<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ message }}</li>
		{% endfor %}
	</ul>

	<div class="col-50">
		<div class="btns-container">
			<div class="back">
				<a class="btn" href="{{ path('app_admin_user_index') }}">
					<i class="fa-solid fa-arrow-left"></i>
					<span>Retour à la liste des utilisateurs</span>
				</a>
			</div>
			<div class="btns right">
				{{ include('admin_user/_delete_form.html.twig') }}
			</div>
		</div>

		{{ include('admin_user/_form.html.twig') }}
	</div>
{% endblock %}
