<form method="post" action="{{ path('app_text_delete', {'id': text.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce texte ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ text.id) }}">
	<button class="btn">Supprimer</button>
</form>
