{% extends 'base_admin.html.twig' %}

{% block title %}Nouveau défi{% endblock %}

{% block body %}
	<h1>Nouveau défi</h1>

	<div class="col-50">
		<div class="btns-container">
			<a class="btn" href="{{ path('app_admin_challenge_index') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à la liste des défis</span>
			</a>
		</div>

		{{ include('admin_challenge/_form.html.twig') }}
	</div>
{% endblock %}
