<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<title>{% block title %}{% endblock %} | Ethil Van</title>

	<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	<script type="module" src="/assets/js/burger.js"></script>
	<script type="module" src="/assets/js/global.js"></script>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>


<body class="front">
<header class="main-header">
	<nav id="header-nav">
		<div class="container left">
			<div class="img-container">
				<a href="{{ path('app_index') }}"><img src="/assets/img/EV-200_nbg.png" alt="Logo Ethil Van"></a>
			</div>
			<a href="/#introduction">Accueil</a>
			<a href="/#join">Rejoindre</a>
			<a href="/#games">Nos jeux</a>
			<a href="https://discord.gg/AmjAR3ZNus" target="_blank">Discord</a>
		</div>
		<div class="container right">
			<a href="{{ path('app_new_user') }}">
				<i class="fa-solid fa-user"></i>
				<span>Espace membre</span>
			</a>
		</div>
	</nav>
	<div id="main-burger" class="burger">
		<div></div>
		<div></div>
		<div></div>
	</div>
</header>

<main class="main-container {% block main_class %}{% endblock %}">
	{% block body %}{% endblock %}
</main>

<footer class="main-footer">
	<nav>
		<a href="/legals">Mentions légales</a>
		<a href="https://eilea.fr/">Développé par Eilea</a>
	</nav>
</footer>

</body>

</html>
