@import "var.less";

html {
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Asap, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	color: @tc-title;
	font-weight: 900;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2.5rem;
}

a {
	color: @tc-link;

	&:hover {
		color: @tc-link-hover;

		img {
			filter: brightness(130%);
		}
	}

	i {

		&:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}

button,
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	background-color: @bg-button;
	color: @tc-main;
	border: none;
	cursor: pointer;
	font-size: 1em;
	line-height: 1.1em;

	&.large {
		padding: 0;
		width: 40rem;
		height: 6rem;
		margin-top: 2em;
	}

	&:hover {
		background-color: @bg-button-hover;
		color: @tc-main;
	}

	&.delete {
		background-color: @bg-delete;

		&:hover {
			background-color: lighten(@bg-delete, 15%);
		}
	}

	&.dark-green {
		background-color: @dark-green;
	}

	i {

		&:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}

img {
	max-width: 100%;
	max-height: 100%;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type="date"],
select,
textarea {
	background-color: @bg-input;
	color: @tc-main;
	font-size: 1em;
	padding: 0.5em;

	&:focus {
		outline: 1px solid @light-green;
	}
}

textarea {
	min-height: 20rem;
	min-width: 100%;
	max-width: 100%;
}


// ==============================================
// Global classes
// ==============================================

.paragraph {
	margin-bottom: 1em;
}

.btns-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

.btns {
	display: flex;
	align-items: center;

	&.center {
		justify-content: center;
	}

	&.right {
		justify-content: flex-end;
	}

	button,
	.btn {

		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;

	label {
		font-size: 1.5rem;
		margin-left: 0.1em;
		margin-bottom: 0.2em;
	}

	&.search {
		flex-direction: row;

		input[type="search"] {
			width: 50rem;
		}
	}
}

.checkbox-container {
	margin-left: 0.5em;
	margin-bottom: 0.3em;

	input[type="checkbox"] {
		margin-right: 0.3em;
	}
}

.flex {
	display: flex;

	&.sb {
		justify-content: space-between;
	}

	&.center {
		justify-content: center;
		align-items: center;
	}

	&.jcc {
		justify-content: center;
		width: 100%;
	}
}

.window {
	padding: @padding-window;
	background-color: @bg-window;

	&:not(:last-child) {
		margin-bottom: @padding-window;
	}
}

.errors,
.successes {

	&:empty {
		display: none;
	}
}

.error,
.success {
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 1.5em;
	}
}

.error {
	color: @tc-error;
}

.success {
	color: @tc-success;
}

i.fa-solid.fa-star {
	color: @gold;
}

.hidden {
	display: none !important;
}

// ==============================================
// Burger
// ==============================================
.burger {
	position: relative;
	width: 1em;
	height: 1em;
	z-index: 2;
	cursor: pointer;

	div {
		position: absolute;
		width: 100%;
		height: 15%;
		top: 0;
		background-color: @tc-main;
		transition: all 0.2s ease-in-out;

		&:nth-of-type(2) {
			top: 42.5%;
		}

		&:nth-of-type(3) {
			top: 85%;
		}
	}

	&.active {
		display: block;

		div {
			top: 42.5%;
			transform: rotate(45deg);

			&:nth-of-type(2) {
				transform: translate(100%);
				opacity: 0;
			}

			&:nth-of-type(3) {
				transform: rotate(-45deg);
			}
		}
	}

	&:hover {

		div {
			background-color: @tc-link;
		}
	}
}

// ==============================================
// Toggle
// ==============================================
@toggle-size: 2rem;

.toggle {
	width: @toggle-size * 2;
	height: @toggle-size;
	border-radius: @toggle-size;
	background-color: grey;
	cursor: pointer;

	&.active {
		background-color: green;

		.pin {
			position: relative;
			left: @toggle-size;
		}
	}

	.pin {
		background-color: white;
		width: @toggle-size;
		height: @toggle-size;
		border-radius: 50%;
	}
}

// ==============================================
// Pagination
// ==============================================

.pagination {
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 100%;
	margin-top: auto;

	.page {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3.5rem;
		height: 4rem;
		background-color: @bg-main;
		border-bottom: 2px solid @bg-main;
		color: @tc-main;

		&:hover {
			background-color: @bg-button;
		}

		&:not(:last-child) {
			margin-right: 0.5em;
		}

		&.current {
			border-bottom: 2px solid @tc-link;
		}
	}

	.separator {
		height: 4rem;
		margin: 0 1em 0 0.5em;
	}
}
