@import "var.less";

html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
	background-color: @bg-main-lighter;
	color: @tc-main;
	font-size: 1.6rem;
}


// ==============================================
// Header
// ==============================================

.main-header {

	.notifications {

		&.new {

			i {
				color: @light-red;
			}
		}
	}
}


// ==============================================
// Home
// ==============================================

.year {
	width: 70%;

	.banner-container {
		margin-top: -@padding-main;
		margin-left: -@padding-main;
		margin-bottom: @padding-main;

		img {
			width: calc(100% + @padding-main);
			height: 30rem;
			object-fit: cover;
		}
	}

	.container.left {
		margin-right: @padding-main;
		width: calc(50% - @padding-main / 2);
	}

	.container.right {
		width: calc(50% - @padding-main / 2);
	}

	.window:not(:last-child) {
		margin-bottom: @padding-window;
	}

	.current-year-ranking {

		li {
			display: flex;
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			.position {
				width: 10%;
			}

			.player {
				width: 70%
			}

			.points {
				width: 20%;
			}
		}
	}

}

// ==============================================
// User list
// ==============================================

.user-list {
	display: flex;
	flex-wrap: wrap;
}

.user-card {
	display: flex;
	width: 35rem;
	height: 15rem;
	padding: 3rem 3.5rem;
	margin: 1em;
	background-color: @bg-main;

	.left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 12rem;
		height: 100%;
	}

	.avatar-container {
		width: 10rem;
		height: 10rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 50%;
		}
	}

	.username {
		font-size: 2rem;
		color: @tc-main;
	}

	.info-container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 35rem - 3.5rem * 2 - 12rem;
		height: 100%;

		.see-profile {
			position: absolute;
			bottom: 0;
			right: 0;

			i {
				font-size: 0.8em;
				margin-right: 0;
			}
		}
	}
}


// ==============================================
// Profile
// ==============================================

.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	header {
		display: flex;
	}

	.avatar-container {
		width: 10rem;
		height: 10rem;
		margin-right: 3rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 50%;
		}
	}

	h1 {
		margin-bottom: 0.1em;
	}

	.role {
		font-size: 2rem;
		margin-bottom: 0.1em;
	}

	.inscription-date {
		margin-bottom: 1.5em;
	}

	.favorite-games {
		padding: 3rem;
		background-color: @bg-main;

		.favorite-game-list {
			min-height: 3rem;
		}
	}
}

.medals-and-trophies {
	width: 80%;
	padding: 3rem;
	margin-top: 2em;
	background-color: @bg-main;

	.medals-container,
	.cups-container {
		display: flex;
		width: 100%;

		.medal-container,
		.cup-container {
			display: flex;
			align-items: center;
			font-size: 4rem;
		}

		.medal,
		.cup {
			width: 5rem;
			height: 5rem;
			margin-right: 0.5em;

			img {
				.contain();
			}
		}

		.medal-number,
		.cup-number {
			margin-right: 1.3em;
			color: @tc-main;
		}
	}

	.last-medals,
	.last-cups {
		margin: 1.5em 0;
		font-size: 2rem;

		ul {

			li {

				&:not(:last-child) {
					margin-bottom: 0.6em;
				}
			}
		}
	}
}


// ==============================================
// Games
// ==============================================

.game-list {
	display: flex;
	flex-wrap: wrap;
}

.game-card {
	position: relative;
	width: 32rem;
	margin: 1em;
	background-color: @bg-main;

	.info-container {
		display: flex;
		justify-content: space-between;
		padding: 0.5em 1em;
	}

	.img-container {
		width: 32rem;
		height: 32rem * 215 / 460;

		img {
			.cover();
		}
	}

	.medals-container {
		display: flex;
		width: 100%;

		.medal-container {
			display: flex;
			align-items: center;
		}

		.medal {
			width: 1.2em;
			height: 1.2em;
			margin-right: 0.5em;

			img {
				.contain();
			}
		}

		.medal-number {
			margin-right: 1.3em;
			color: @tc-main;
		}
	}

	.event {
		position: absolute;
		top: 1em;
		right: -1em;
		padding: 0.3em 0.6em;
		background-color: @light-green;
		color: @dark-grey;
	}

	.valid-submissions-count {
		position: absolute;
		right: 1rem;
		bottom: 4.5rem;
		padding: 0.3em 0.6em;
		background-color: @bg-main;
		color: @tc-main;
	}
}


// ==============================================
// Single game
// ==============================================

.game-title-container {
	display: flex;
	align-items: center;
	margin-bottom: 2em;

	h1 {
		margin-bottom: 0;
	}

	.img-container {
		width: 15rem;
		height: 15rem * 215 / 460;
		margin-right: 1em;

		img {
			.cover();
		}
	}
}

.challenges-list {
	display: flex;
	flex-wrap: wrap;
}

.challenge-card {
	position: relative;
	width: 42rem;
	height: 25rem;
	padding: 1.3em 1.7em;
	margin: 1em;
	background-color: @bg-main;

	.title-container {
		display: flex;
		align-items: center;
		margin-bottom: 0.3em;

		.medal {
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.8em;

			img {
				.contain();
			}
		}

		h3 {
			margin-bottom: 0;
			text-transform: initial;

			&:hover {
				color: @tc-link-hover;
			}
		}
	}

	.players {
		margin-bottom: 1.5em;
	}

	.description {
		height: 10rem;
		overflow-y: auto;
		font-size: 0.9em;
		scrollbar-width: thin;
	}

	.periods {
		position: absolute;
		display: flex;
		justify-content: space-between;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.5em 1em;
		background-color: @bg-main-darker;

		&.current {
			background-color: @dark-green;
		}

		i {
			margin-right: 0.5em;
		}
	}
}

// ==============================================
// Single challenge
// ==============================================

.challenge-title-container {

	.medal {
		width: 4rem;
		height: 4rem;
		margin-left: 0.3em;

		img {
			.contain();
		}
	}
}


.challenge-periods {

	.period {

		&:not(:last-child) {
			margin-bottom: 0.5em;
		}
	}
}

.validation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 1.5em;
	}

	h2 {
		margin-bottom: 0;
	}

	.validation-state {
		padding: 0.3em 0.6em;
		background-color: @bg-main-darker;
		font-size: 2rem;

		&.valid {
			background-color: @dark-green;
		}

		i {
			margin-right: 0.5em;
		}
	}
}


// ==============================================
// Notifications
// ==============================================

.notifications {

	.notification {
		display: flex;

		i {
			width: 2em;
			margin-right: 0.5em;
			cursor: pointer;

			&.fa-bell {
				padding-left: 0.3rem;
			}
		}

		p {
			width: calc(100% - 2em);
		}

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		&.seen {
			color: @tc-light-grey;
		}
	}
}
