@import "var.less";

.table {
	margin-top: 2em;

	.head {
		position: relative;
		display: flex;
		font-size: 2rem;
		padding-top: 0.5em;
		padding-bottom: 1em;
		border-bottom: 1px solid;
		margin-bottom: 1em;
	}

	.row {
		display: flex;
		padding: 0.5em 0;
	}

	.col {
		display: flex;
		align-items: center;

		&.sort {

			a {
				color: @tc-main;

				&:hover {
					color: @tc-link;
				}
			}

			&.active {

				a {
					color: @tc-link;

					&:hover {
						color: @tc-link-hover;
					}
				}
			}

			i {
				margin-left: 0.3em;
			}
		}
	}

	.reset-sort {
		position: absolute;
		right: 0;

		a {
			display: flex;
			align-items: baseline;
		}
	}
}
