// Fonts
@font-face {
	font-family: 'Asap';
	src: url("/assets/font/Asap-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	src: url("/assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
}


// Text colors
@tc-title: #83d213;
@tc-link: @tc-title;
@tc-link-hover: lighten(@tc-link, 20%);
@tc-main: white;


// Background colors
@bg-main: #101816;
@bg-main-lighter: #15201d;
@bg-button: #2e4540;
@bg-button-hover: lighten(@bg-button, 10%);


// Sizes
@admin-header-width: 22rem;
