{% extends 'base_member.html.twig' %}

{% block title %}Aventure{% endblock %}

{% block javascripts %}
	<script src="/assets/js/member_adventure.js" defer></script>
{% endblock %}

{% block main_class %}adventure{% endblock %}

{% block body %}

	<div class="images-container">
		<div class="cockpit">
			<img src="/assets/img/adventure/cockpit.jpg" alt="Cockpit du vaisseau">
		</div>
		<div class="map hidden">
			<img src="/assets/img/adventure/map.jpg" alt="Carte spatiale">
			<div class="map-text">
				<h2>Phaedra</h2>
				<p>
					Cette planète regorge d'animaux au-delà de l'imagination, tous incroyablement mignons. Des créatures à
					fourrure douce, des animaux avec de grands yeux expressifs, et même des petits monstres flottants. Chaque coin
					de la planète est recouvert de forêts luxuriantes et de prairies fleuries.
				</p>
			</div>
			<div class="close-button">
				<i class="fa-solid fa-xmark"></i>
			</div>
		</div>
		<div class="ship hidden">
			<div class="ship-inside">
				<img class="ship-img" src="/assets/img/adventure/ship-inside-empty.png" alt="Intérieur du vaisseau">
			</div>
			<div class="ship-outside hidden">
				<img class="ship-img" src="/assets/img/adventure/ship-outside.png" alt="Ectérieur du vaisseau">
			</div>
			<div class="close-button">
				<i class="fa-solid fa-xmark"></i>
			</div>
			<div class="toggle-ship">
				<i class="fa-solid fa-up-down"></i>
			</div>
		</div>
		<div class="tablet-container hidden">
			<div class="tablet">
				<img src="/assets/img/adventure/tablet.png" alt="Tablette">
				<div class="text-container">
					{% for text in texts %}
						<div class="text">
							<h2 class="text-title closed">{{ text.title }}</h2>
							<p class="text-text hidden">{{ text.text|nl2br }}</p>
						</div>
					{% endfor %}
				</div>
				<div class="button-container">
					<img src="/assets/img/adventure/tablet-button.png" alt="Bouton quitter tablette" class="tablet-button">
				</div>
			</div>
			<div class="close-button">
				<i class="fa-solid fa-xmark"></i>
			</div>
		</div>

		<div class="menus">
			<div class="ship-menu" title="Vaisseau">
				<img src="/assets/img/adventure/ship-menu.png" alt="Menu du vaisseau">
			</div>
			<div class="map-menu" title="Carte">
				<img src="/assets/img/adventure/map-menu.png" alt="Menu de la carte">
			</div>
			<div class="tablet-menu" title="Log">
				<img src="/assets/img/adventure/tablet-menu.png" alt="Menu de la tablette">
			</div>
		</div>

		<div class="icons-container">
			<div class="icon ship-icon" title="Vaisseau">
				<i class="fa-brands fa-space-awesome"></i>
			</div>
			<div class="icon map-icon" title="Carte">
				<i class="fa-solid fa-map"></i>
			</div>
			<div class="icon tablet-icon" title="Log">
				<i class="fa-solid fa-tablet-button"></i>
			</div>
		</div>
	</div>

{% endblock %}
