{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main_class %}login{% endblock %}

{% block body %}

	<section class="window">
		<h1>Connexion</h1>

		<form action="{{ path('app_login') }}" method="post">
			<div class="input-container">
				<label for="username">Nom d'utilisateur</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}"/>
			</div>

			<div class="input-container">
				<label for="password">Mot de passe</label>
				<input type="password" id="password" name="_password"/>
			</div>

			<p>Pas de compte ? <a href="{{ path('app_registration') }}">S'inscrire</a></p>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<input type="hidden" name="_target_path" value="/member"/>

			<div class="btns center">
				<button type="submit">Connexion</button>
			</div>
		</form>
	</section>


{% endblock %}
